# pnpm 配置文件
#
# 管文档参考：https://pnpm.io/zh/npmrc

recursive-install=true
workspace-concurrency=10
child-concurrency=10
network-concurrency=20
ignore-workspace-root-check=true
# registry='http://npm.ytokj.com:8081/repository/npm-group/'
# registry='https://registry.npmjs.org/'
registry='https://registry.npmmirror.com/'
